:root {
  --primary-color: #0277b3;
  --text-color: #000000; /* Black */
  --background-color: #ffffff; /* White */
}

body {
  font-family: Arial, sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0; /* Remove default body margin */
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
}


header {
  background-color: var(--primary-color);
  color: var(--background-color);
  text-align: center;
  padding: 20px;
  font-size: 2em; /* make header text bigger */
}

nav ul {
  background-color: var(--primary-color);
  color: var(--background-color);
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 20px;
}

nav a {
  color: var(--background-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em; /* make nav links bigger */
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center-align the event blocks */
  padding: 10px;
  flex-direction: column;
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
}

.sticky-header {
  background-color: var(--primary-color);
  color: var(--background-color);
  text-align: center;
  padding: 10px 0;
  transition: transform 0.3s; /* Add a smooth transition effect */
  transform: translateY(0); /* Initially, keep the header in view */
  position: fixed;
  width: 100%;
  z-index: 100;
}

.sticky-header.hidden {
  transform: translateY(-100%); /* Hide the header by moving it up */
}

.sticky-header header {
  text-align: center;
}

.event-section {
  width: 95%; /* Set the width of the event section to 100% */
  margin: 2.5% 0; /* Adjust margin as needed */
  text-align: center;
  background-color:  var(--primary-color);
  color: white;
  padding: 2.5%;
  border-radius: 20px;
}

.event-section h2 {
  text-align: center;
  font-size: 38px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  color: #ffffff; /* White text color */
  background-color: #0277b3; /* Background color */
  border: 2px solid #ffffff; /* White border */
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.button:hover {
  background-color: #ffffff; /* White background color on hover */
  color: #0277b3; /* Text color on hover */
  border-color: #0277b3; /* Border color on hover */
}