/* Define the color variables */
:root {
  --primary-color: #0277b3;
  --text-color: #000000; /* Black */
  --background-color: #ffffff; /* White */
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2rem;
}

.content {
  max-width: 800px;
  margin: 100px auto 0 auto; /* 100px margin-top to avoid the fixed header */
  padding: 20px;
}

nav ul {
  background-color: var(--primary-color);
  color: var(--background-color);
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 20px;
}

nav a {
  color: var(--background-color);
  text-decoration: none;
  font-weight: bold;
}

.centered-text {
  text-align: center;
}


.sticky-header {
  background-color: var(--primary-color);
  color: var(--background-color);
  text-align: center;
  transition: transform 0.3s; /* Add a smooth transition effect */
  transform: translateY(0); /* Initially, keep the header in view */
  position: fixed;
  width: 100%;
  z-index: 100;
}

.sticky-header.hidden {
  transform: translateY(-100%); /* Hide the header by moving it up */
}

.sticky-header header {
  text-align: center;
  padding: 10px;
}